/* =============
    Base
============= */
figure,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.25s;
}


*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* =============
  Setting Colors
============= */

body{
  --bg-color: white;
  --text-color: #191b21;
  --faded-color: #72757a;
  --border-wght: 1.5px;
  --accent-color: #e0602b;
  color: var(--text-color);
}

main{
  background-color: var(--bg-color);
}


// Defaults for picture
picture {
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
  }
}

// Scrollbars

body{
/* width */
&::-webkit-scrollbar {
  width: 12px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}
