/* =============
  Typography
============= */
* {
  font-family: 'Inter';
}

p {
  font-size: 1.3rem;
  line-height: 160%;
  max-width: 40ch;
  opacity: 0.85;
  @include md {
    font-size: 1.6rem;
  }
  @include lg {
    font-size: 1.8rem;
  }
}

.heading {
  font-size: clamp(1.8rem,7.5vmax,13vmin);
  font-weight: 700;
  line-height: 95%;
  @include lg {
    font-size: clamp(1.5rem, 6vmax, 10vmin);
  }
}

.heading2 {
  font-size: clamp(1.6rem,2.5vmax,5vmin);
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 115%;
  text-transform: uppercase;

  img {
    height: 0.85em;
    margin-right: 0.25em;
    position: relative;
  }
  // text-transform: capitalize;
}

.heading3 {
  font-size: clamp(1.4rem,1.8vmax,3.5vmin);
  font-weight: 700;
  line-height: 120%;
}
