.signup{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: 0.25s;
}

.signup__form{
  display: grid;
  padding: 4rem;
  border: 1px solid var(--text-color);
  position: relative;
  background-color: var(--bg-color);
}

.signup__close{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.signup__email{
  border: 1px solid var(--text-color);
  padding: 10px;
  max-width: 300px;
}

.signupClose{
  opacity: 0;
  pointer-events: none;
}
