/* =============
    Home
============= */


.intro{
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);

  @include md{
    padding: 0 5%;
  }

  .intro__text{
  position: absolute;
  bottom: 5%;
  padding-left: 2rem;

  @include lg{
    bottom: 8%;
    padding-left: 5%;
  }
}

  h1{
    font-size: clamp(1.5rem,12vmax,19vmin);
    line-height: 98%;
    padding-bottom: 2rem;

    @include md{
      font-size: clamp(1.5rem,15vmax,15vmin);
    }

    @include lg{
      font-size: clamp(3rem, calc(7vw + 7vh), 18vmin);
      max-width: 90%;
      line-height: 100%;
    }
    @include xl{
      max-width: 80%;
    }
  }

  p{
    font-size: clamp(1.5rem, 2.2vmax, 4vw);
  }
}

.works__project{
  display: grid;
  grid-gap: 4rem;
  padding-bottom: 4rem;
}

.works__project__item{
 width: 100%;

 picture{
   img{
     width: 100%;
     min-height: 300px;
     object-fit: cover;
     object-position: center;
   }
 }
}

.contact{
  padding-top: 25%;
  padding-bottom: 15%;
}
