/* =============
    Footer
============= */

footer{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  border-top: var(--border-wght) solid var(--text-color);
  padding: 2rem 2rem 4rem;
  position: relative;
  z-index: 2;
  background-color: var(--bg-color);

  @include md{
    padding: 2rem 10% 2rem;
  }

  p{
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
}
