/* =============
    Footer
============= */
footer {
  background-color: var(--bg-color);
  border-top: var(--border-wght) solid var(--text-color);
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 2rem 2rem 4rem;
  position: relative;
  z-index: 2;
  @include md {
    padding: 2rem 10%;
  }

  p {
    padding-bottom: 2rem;
    padding-right: 2rem;
  }
}
