/* =============
    Header
============= */

.mainNav{
position: fixed;
height: 5rem;
width: 100%;
padding: 1.5rem 2rem;
background-color: var(--text-color);
z-index: 999;

    .logo{
      svg{
        height: 1.8rem;
        fill: var(--faded-color);
        transition: 0.25s;

        &:hover, &:active{
          fill: var(--accent-color);
        }
      }
    }

    .menuButton{
      height: 100%;
      width: 3.25rem;
      background-color: transparent;
      border: 0;
      fill: var(--faded-color);
      outline: 0;
      transition: fill 0.25s;



      &:hover, &:active{
        fill: var(--accent-color);
      }

      .bar{
        transform-origin: center center;
        transition: transform 0.25s;
      }

    }
}

.menuButton.closed{
  .barTop{
    transform: scaleX(0);

  }

  .barBot{
    transform: scaleX(0);
  }

  .barCenter1{
    transform: rotate(45deg);
  }

  .barCenter2{
    transform: rotate(-45deg);
  }
}


.midnightHeader.default{
  background-color: blue;
}

.midnightHeader.none{
  background-color:red;
}
