/* =============
    Buttons
============= */
button,
input {
  background-color: transparent;
  border: 0;
}


/* =============
for external link
============= */

.linkExt {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}

.extIcon {
  display: inline;
  fill: currentColor;
  height: 0.65em;
  margin-left: 0.25em;
  opacity: 0.75;
}

.linkExt {
  &:active,
  &:hover {
    color: var(--accent-color);
  }
}

/* =============
 Normal Links
============= */
.link {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  position: relative;

  &::before {
    background-color: var(--text-color);
    bottom: -0.5rem;
    content: '';
    height: var(--border-wght);
    left: 0;
    position: absolute;
    width: 100%;
  }

  &::after {
    background-color: var(--accent-color);
    bottom: -0.5rem;
    content: '';
    height: calc(var(--border-wght) + 1px);
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center left;
    transition: 0.25s;
    width: 100%;
  }

  &:hover {
    --text-color: var(--accent-color);

    &::after {
      transform: scaleX(1);
    }
  }
}

/* =============
 Text of Link on Hover
============= */
.linkText {
  transition: color 0.25s;

  &:active,
  &:hover {
    color: var(--accent-color);
  }
}

/* =============
 Solid fill Button
============= */

.fillButton {
  color: var(--bg-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  z-index: 1;

  &::before {
    background-color: var(--accent-color);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: center left;
    transition: 0.25s;
    width: 100%;
    z-index: -1;
  }

  &::after {
    background-color: var(--text-color);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }

  &:active,
  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}
