/* =============
    Helpers
============= */

/* =============
 Responsive Classes
============= */
.mobOnly {
  @include lg {
    display: none;
  }
}

.desktopOnly {
  display: none;
  @include lg {
    display: block;
  }
}

/* =============
 Width, Paddings, Margins
============= */

.width100 {
  width: 100%;
}

.p10 {
  padding: 1rem;
}

.p20 {
  padding: 2rem;
}

.pb10 {
  padding-bottom: 1rem;
}

.pb60 {
  padding-bottom: 6rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb10 {
  margin-bottom: 0.75rem;
  @include md {
    margin-bottom: 1rem;
  }
}

.mt10 {
  margin-top: 1rem;
}

.mb20 {
  margin-bottom: 1.5rem;
  @include md {
    margin-bottom: 2rem;
  }
}

.mb30 {
  margin-bottom: 2.5rem;
  @include md {
    margin-bottom: 3rem;
  }
}

.mb40 {
  margin-bottom: 3.5rem;
  @include md {
    margin-bottom: 4rem;
  }
}

.ptop0 {
  margin-top: 0;
}

.mbot0 {
  margin-bottom: 0;
}

.noBotMargin {
  margin-bottom: 0;
}




/* =============
  Borders
============= */

.bordBot {
  border-bottom: var(--border-wght) solid var(--text-color);
}

/* =============
  Borders for mobile only
============= */

.bordBotMob {
  border-bottom: var(--border-wght) solid var(--text-color);
  @include lg {
    border-bottom: 0;
  }
}

/* =============
  Dark Themes Section
============= */


.clrdark {
  --bg-color: #191b21;
  --text-color: white;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.clrdark_nobg {
  --bg-color: #191b21;
  --text-color: white;
  color: var(--text-color);
}

/* =============
  Section Templates
============= */

.sectionh {
  padding: 0 2rem;
  @include md {
    padding: 0 10%;
  }
}

.sectionp {
  padding: 2rem;
  @include md {
    padding: 5% 10% 5%;
  }
}

.sectionp2 {
  padding: 1rem 2rem;
  @include md {
    padding: 5% 10% 0;
  }
}

.sectionp2t0{
  padding: 0rem 2rem 1rem;
  @include md {
    padding: 5% 10% 0;
  }
}

.sectionv2 {
  padding: 1rem 0;
  @include md {
    padding: 5% 0 0;
  }
}

.sectionv2_end{
  padding: 0rem 0 1rem;
  @include md {
    padding: 5% 0 0;
  }
}

.sectionp_first {
  padding: 2rem;
  @include md {
    padding: 5% 10% 5%;
  }
}

.sectionv {
  padding: 2rem 0;
  @include md {
    padding: 5% 0 5%;
  }
}

.sectionv_end {
  padding: 2rem 0 3rem;
  @include md {
    padding: 5% 0 10%;
  }
}

.sectionv2_end {
  padding: 2rem 0 3rem;
  @include md {
    padding: 5% 0 10%;
  }
}

.sectionv_first {
  padding: 0 0 2rem;
  @include md {
    padding: 0 0 10%;
  }
}

.sectionp_end {
  padding: 2rem 2rem 3rem;
  @include md {
    padding: 5% 10% 10%;
  }
}

.textGroup {
  display: grid;
  @include lg {
    grid-gap: 2rem;
    grid-template-columns: 50% 50%;
  }
}

/* =============
  Columns
============= */

.twoCol {
  display: grid;
  row-gap: 2rem;
  @include lg {
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.threeCol {
  display: grid;
  row-gap: 2rem;
  @include lg {
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* =============
   Non-equal Columns
============= */

.oneTwo {
  display: grid;
  row-gap: 2rem;
  @include lg {
    column-gap: 2rem;
    grid-template-columns: 1fr 2fr;
  }
}

.twoOne {
  display: grid;
  row-gap: 2rem;
  @include lg {
    column-gap: 2rem;
    grid-template-columns: 2fr 1fr;
  }
}

.twoThree {
  display: grid;
  row-gap: 2rem;
  @include lg {
    column-gap: 2rem;
    grid-template-columns: 2fr 3fr;
  }
}

.threeTwo {
  display: grid;
  row-gap: 2rem;
  @include lg {
    column-gap: 2rem;
    grid-template-columns: 3fr 2fr;
  }
}

/* =============
   Grid Items
============= */

.col2 {
  @include lg {
    grid-column-start: 2;
  }
}

.span2 {
  @include lg {
    grid-column: span 2;
  }
}

/* =============
   Row Gaps
============= */

.rowGap1 {
  row-gap: 1rem;
}

.colGap4 {
  column-gap: 4rem;
}

/* =============
  Justify and Position
============= */

.marginCenter {
  margin: 0 auto;
  text-align: center;
}

.justifyGend {
  justify-self: end;
}

.justifyGcenter {
  justify-self: center;
}

.alignGend {
  align-self: end;
}

.alignGcenter {
  align-self: center;
}

.alignTextCenter {
  text-align: center;
}

.alignTextRight {
  text-align: right;
}

.relp {
  position: relative;
}

/* =============
  Flex & Grid
============= */

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}
