/* =============
    Navigation
============= */
.toggleMenu {
  height: 100vh;
  position: fixed;
  transition: 0.25s;
  transition-timing-function: ease-out;
  width: 100vw;
  z-index: 98;

  &::before {
    background-color: var(--bg-color);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: top right;
    transition: 0.35s;
    width: 100%;
    z-index: 97;
  }
}

.scrollWrapper {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  padding: 6rem 10% 2rem;
  position: relative;
  transition: 0.45s;
  width: 100%;
  z-index: 98;
  z-index: 98;
  @include md {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 3fr 2fr;
    padding: 10% 8% 5%;
  }
  @include lg {
    grid-gap: 2rem;
    grid-template-columns: 2fr 3fr;
    padding: 8% 10%;
  }
}

.toggleMenuOptions {
  border-bottom: var(--border-wght) solid var(--text-color);
  margin-bottom: 2.25rem;
  padding-bottom: 1.75rem;
  width: 100%;
  @include md {
    margin-right: 2rem;

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    &:active,
    &:hover {
      --text-color: var(--accent-color);
    }
  }
}

.toggleMenuLists {
  padding-top: 1rem;

  .toggleMenuListsItem {
    display: block;
    font-size: 1.2rem;
    line-height: 150%;
    margin-bottom: 1.5rem;
    max-width: 40ch;
    @include md {
      font-size: 1.3rem;
    }
    @include lg {
      font-size: 1.4rem;
    }

    &:active,
    &:hover {
      --text-color: var(--accent-color);
    }
  }
}

.menuFooter {
  align-self: end;
}

.menuClose {
  pointer-events: none;

  &:before {
    transform: scale(1,0);
  }

  .scrollWrapper {
    opacity: 0;
    transform: translateY(100%);
  }
}
